name: build

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.5'
      - run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - run: |
          composer lint
          composer phpstan
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4', '8.5']
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: ${{ matrix.php-version }}
      - run: |
          composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          composer coverage
  coverage:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.5'
      - name: Generate coverage report
        run: |
          composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          composer coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
